

<div class="container">
  <div class="jumbotron">
    <h1>Login</h1>
    <div id="LoginRight" class="col-sm-4">
      <br />
      <br />
      <div class="alert alert-info">
      <strong>Please Login</strong>
      </div>
      <br />
      <br />
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <input type="text" ng-model="voornaam" contenteditable="true" />
      <br />
      <br />
      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      <input type="text" ng-model="voornaam" contenteditable="true" />
      <br />
      <br />
      <button type="button">Login</button>
    </div>
  </div>

</div>
