<body>

<form action="/action_page.php">
<h3>  Lorem ipsum dolor sit amet, consectetur adipiscing elit?: <input type="submit" value="Ja"> <input type="submit" value="Nee"></h3>
<h3>  Lorem ipsum dolor sit amet, consectetur adipiscing elit?: <input type="submit" value="Ja"> <input type="submit" value="Nee"></h3>
<h3>  Lorem ipsum dolor sit amet, consectetur adipiscing elit?: <input type="submit" value="Ja"> <input type="submit" value="Nee"></h3>
<h3>  Lorem ipsum dolor sit amet, consectetur adipiscing elit?: <input type="submit" value="Ja"> <input type="submit" value="Nee"></h3>
<h3>  Lorem ipsum dolor sit amet, consectetur adipiscing elit?: <input type="submit" value="Ja"> <input type="submit" value="Nee"></h3>
<button ng-click="'Testing'">

</button>
</form>



</body>
